<div class="container">
  <h1>DICS online checking</h1>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <span>Check đầu thể hiện tính cách
        <strong>khi làm việc</strong>
      </span>
      <span style="display: block">Check đầu thể hiện tính cách
        <strong>khi ở nhà</strong>
      </span>
      <table class="table">
        <tr *ngFor="let row of data; let i = index" [ngStyle]="{'background': dataColors[i]}">
          <td *ngFor="let col of row">{{col.val}}
            <input type="checkbox" [(ngModel)]="col.work">
            <input type="checkbox" [(ngModel)]="col.home">
          </td>
        </tr>
      </table>
      <button (click)="getResult()" class="btn btn-success float-right">Get result</button>
    </div>
  </div>
  <div style="margin-top: 20px" class="row">
    <div class="col-md-8 col-sm-12">
      <div style="display: block">
        <canvas id="chart"></canvas>
      </div>
    </div>
    <div *ngIf="message" class="col-md-4 col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>{{messageTitle}}</strong>
        </div>
        <div class="card-body">
          {{message}}
        </div>
      </div>
    </div>
  </div>
</div>